<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Index Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <table class="table text-center">
      <thead>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
      </thead>
      <tbody>
        {% for e in _matches_today %}
        <tr>
          <td>{{ e.home_team_country }}</td>
          <td>{{ e.home_team.goals }} - {{ e.away_team.goals }}</td>
          <td>{{ e.away_team_country }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>